html {
    --tg-theme-accent-text-color: #C3AAFF;
    --tg-theme-bg-color: #1E1E1E;
    --tg-theme-bottom-bar-bg-color: #252526;
    --tg-theme-button-color: #8753FF;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-destructive-text-color: #f57474;
    --tg-theme-header-bg-color: #252526;
    --tg-theme-hint-color: #82868a;
    --tg-theme-link-color: #C3AAFF;
    --tg-theme-secondary-bg-color: #2c2c2c;
    --tg-theme-section-bg-color: #252526;
    --tg-theme-section-header-text-color: #C3AAFF;
    --tg-theme-section-separator-color: #131313;
    --tg-theme-subtitle-text-color: #82868a;
    --tg-theme-text-color: #ddd;

    background-color: var(--tg-theme-bg-color);
}

* {
    color: var(--tg-theme-text-color);
}