.container {
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 30px 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--tg-theme-text-color);
}

@media screen and (width < 330px) {
    .title {
        font-size: 20px;
    }
}