.body_container {
    max-width: 820px;
    width: 100%;
    padding: 15px 10px;
    margin: 0 auto;
}

.main_menu {
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 25px;
    border: 2px solid var(--tg-theme-section-separator-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0 20px 0;
}

.user_info_container {
    display: flex;
    align-items: center;
}

.user_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_data {
    margin-left: 10px;
}

.user_full_name {
    margin-bottom: 4px;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    font-size: 15px;
}

.user_tg_name {
    font-size: 13px;
    color: var(--tg-theme-accent-text-color)
}

.menu_data {
    flex: auto;
    background-color: var(--tg-theme-bg-color);
    margin: 2px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.tasks_count {
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 15px;
    border: 2px solid var(--tg-theme-button-color);
    white-space: nowrap;
    transition: all .3s;
}

.settings_button {
    margin: auto 0;
    width: 28px;
    height: 28px;
}

.settings_button svg {
    width: 28px;
    height: 28px;
}

.settings_button:hover {
    cursor: pointer;
}

.settings_button:hover svg path {
    fill: var(--tg-theme-button-color);
}

.settings_button svg path {
    fill: var(--tg-theme-hint-color);
    transition: all .3s;
}

.task_search {
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    border: 1px solid var(--tg-theme-hint-color);
    background-color: transparent;
    font-size: 12px;
}

.task_search::placeholder {
    color: var(--tg-theme-hint-color);
}

input::placeholder {
    color: var(--tg-theme-hint-color);
    font-size: 16px;
}

.render_type {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.render_type__item {
    font-size: 20px;
    color: var(--tg-theme-hint-color);
    margin-right: 10px;
    cursor: pointer;
}

.render_type__item:last-child {
    margin-right: 0;
}

.render_type__item.active {
    color: var(--tg-theme-accent-text-color)
}

.tasks__container {
    margin-top: 15px;
}

/* .all_tasks_page {
    margin: 0 10px;
} */

.all_tasks_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.create_new_task_button,
.add_folder__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 10px 3px 13px;
    border-radius: 20px;
    background-color: transparent;
    transition: all .3s;
    border: 2px solid var(--tg-theme-button-color);
}

.create_new_task_text,
.add_folder__text {
    color: var(--tg-theme-accent-text-color);
    margin-right: 4px;
    transition: all .3s;
    font-size: 17px;
}

.create_new_task_icon,
.add_folder__icon {
    width: 20px;
    height: 20px;
}

.create_new_task_icon svg,
.add_folder__icon svg {
    width: 100%;
    height: 100%;
}

.create_new_task_icon svg path,
.add_folder__icon svg path {
    stroke: var(--tg-theme-accent-text-color);
    transition: all .3s;
}

.create_new_task_button:hover,
.add_folder__button:hover {
    background-color: var(--tg-theme-button-color);
}

.create_new_task_button:hover .create_new_task_text,
.add_folder__button:hover .add_folder__text {
    color: var(--tg-theme-button-text-color);
}

.create_new_task_button:hover svg path,
.add_folder__button:hover svg path {
    stroke: var(--tg-theme-button-text-color);
}

@media screen and (width < 400px) {
    .create_new_task_text,
    .add_folder__text {
        display: none;
    }
    .create_new_task_button,
    .add_folder__button {
        padding: 5px;
    }
}

.input,
.textarea__container {
    width: 100%;
    appearance: none;
    border: 2px solid var(--tg-theme-section-separator-color);
    background-color: transparent;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px 15px 8px 15px;
    cursor: text;
    resize: none;
    transition: all .3s;
    color: var(--tg-theme-text-color)
}

textarea {
    appearance: none;
    resize: none;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.input+label,
.textarea__container+label {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 0 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--tg-theme-hint-color);
    transition: all .3s;
}

.input:focus,
.textarea__container:focus-within {
    border-color: var(--tg-theme-button-color);
}

.input:focus+label,
.textarea__container:focus-within+label {
    color: var(--tg-theme-button-color);
}

input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: -99999px;
}

input[type="file"]+label {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: var(--tg-theme-hint-color);
    border: 2px solid var(--tg-theme-section-separator-color);
    border-radius: 15px;
    transition: all .3s;
}

input[type="file"]+label:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-color: var(--tg-theme-button-color);
}

.submit_button {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: var(--tg-theme-accent-text-color);
    border: 2px solid var(--tg-theme-accent-text-color);
    border-radius: 15px;
    transition: all .3s;
    /* margin-top: 20px; */
}

.submit_button:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-color: var(--tg-theme-button-color);
}

.submit_button.err {
    background-color: transparent;
    color: var(--tg-theme-destructive-text-color);
    border-color: var(--tg-theme-destructive-text-color);
}

.disabled.disabled {
    background-color: transparent;
    color: var(--tg-theme-hint-color);
    border-color: var(--tg-theme-hint-color);
}

.form_separator {
    width: calc(100% - 40px);
    height: 2px;
    background-color: var(--tg-theme-section-separator-color);
    margin: 15px auto;
}

.is_group_task__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: -5px 0 25px 0;
    padding: 0 8px;
    align-items: center;
}

.is_group_checkbox {
    width: 22px;
    height: 22px;
    position: relative;
}

.is_group_checkbox input[type="checkbox"]+label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid var(--tg-theme-section-separator-color);
    border-radius: 5px;
    user-select: none;
    transition: all .3s;
}

.is_group_checkbox input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: var(--tg-theme-button-color);
    opacity: 0;
    transition: opacity .3s;
}

.is_group_checkbox input[type="checkbox"]:checked+label::after {
    border-color: var(--tg-theme-button-color);
}

.is_group_checkbox input[type="checkbox"]:checked+label::before {
    opacity: 1;
}

.is_group_checkbox input::before {
    border-color: var(--tg-theme-section-separator-color);
}

.checkbox_label {
    font-size: 15px;
    color: var(--tg-theme-hint-color);
    font-weight: 700;
}

.delete_task {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: -5px;
    color: var(--tg-theme-destructive-text-color);
    cursor: pointer;
}

.delete_task:hover {
    filter: brightness(70%);
}

.nonTasksLabel {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    margin-top: 15px;
    border-radius: 15px;
    color: var(--tg-theme-text-color)
}

.tasks_filters {
    padding: 4px 6px;
    border-radius: 15px;
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    gap: 5px;
}

.filter_item {
    padding: 6px 10px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: var(--tg-theme-text-color);
    font-size: 15px;
}

.filter_item.active {
    border-color: var(--tg-theme-button-color);
    color: var(--tg-theme-accent-text-color);
    transition: border-color .3s, color .3s;
}

.file_manager__container {
    display: grid;
    gap: 10px;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.file_manager_empty_text {
    font-size: 16px;
    font-weight: 500;
    color: var(--tg-theme-hint-color);
}

.goto_parent_folder__button {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.goto_parent_folder__button svg {
    width: 100%;
    height: 100%;
}

.goto_parent_folder__button svg path {
    stroke: var(--tg-theme-hint-color);
    transition: all .3s;
}

.goto_parent_folder__button:hover svg path {
    stroke: var(--tg-theme-button-color);
}

.file_manager_side {
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    padding: 10px 15px 10px 12px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 15px;
}

.file_manager__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cur_folder_name {
    font-size: 16px;
    color: var(--tg-theme-text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.type_selector {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .3s;
    border-color: var(--tg-theme-button-color);
    display: grid;
    grid-template-rows: 1fr 0fr;
    width: 80px;
    margin-right: 10px;
}

.type_selector.active {
    grid-template-rows: 0fr 1fr;
}

.type_item {
    color: var(--tg-theme-accent-text-color);
    font-size: 16px;
    font-weight: 400;
    transition: all .3s;
    min-width: 0;
    text-align: center;
    overflow: hidden;
}

.add_element__container {
    display: grid;
    grid-template-columns: max-content auto;
    margin-bottom: 10px;
}

#fm__folder_name {
    margin: 0;
}