.body_container {
    max-width: 820px;
    width: 100%;
    padding: 25px 10px;
    margin: 0 auto;
}

.main_menu {
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 25px;
    border: 2px solid var(--tg-theme-section-separator-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0 20px 0;
}

.user_info_container {
    display: flex;
    align-items: center;
}

.user_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_data {
    margin-left: 10px;
}

.user_full_name {
    margin-bottom: 4px;
    font-weight: 700;
    color: var(--tg-theme-text-color);
    font-size: 15px;
}

.user_tg_name {
    font-size: 13px;
    color: var(--tg-theme-accent-text-color)

}

.menu_data {
    flex: auto;
    background-color: var(--tg-theme-bg-color);
    margin: 2px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.tasks_count {
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 15px;
    border: 2px solid var(--tg-theme-button-color);
    white-space: nowrap;
    transition: all .3s;
}

.settings_button {
    margin: auto 0;
    width: 28px;
    height: 28px;
}

.settings_button svg {
    width: 28px;
    height: 28px;
}

.settings_button:hover {
    cursor: pointer;
}

.settings_button:hover svg path {
    fill: var(--tg-theme-button-color);
}

.settings_button svg path {
    fill: var(--tg-theme-hint-color);
    transition: all .3s;
}

.task_search {
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    border: 1px solid var(--tg-theme-hint-color);
    background-color: transparent;
    font-size: 12px;
}

.task_search::placeholder {
    color: var(--tg-theme-hint-color);
}

.render_type {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.render_type__item {
    font-size: 20px;
    color: var(--tg-theme-hint-color);
    margin-right: 10px;
    cursor: pointer;
}

.render_type__item:last-child {
    margin-right: 0;
}

.render_type__item.active {
    color: var(--tg-theme-accent-text-color)
}

.tasks__container {
    margin-top: 15px;
}

.all_tasks_page {
    margin: 0 10px;
}

.all_tasks_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.create_new_task_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 10px 3px 13px;
    border-radius: 20px;
    background-color: transparent;
    transition: all .3s;
    border: 2px solid var(--tg-theme-button-color);
}

.create_new_task_text {
    color: var(--tg-theme-accent-text-color);
    margin-right: 4px;
    transition: all .3s;
}

.create_new_task_icon {
    width: 20px;
    height: 20px;
}

.create_new_task_icon svg {
    width: 100%;
    height: 100%;
}

.create_new_task_icon svg path {
    stroke: var(--tg-theme-accent-text-color);
    transition: all .3s;
}

.create_new_task_button:hover {
    background-color: var(--tg-theme-button-color);
}

.create_new_task_button:hover .create_new_task_text {
    color: var(--tg-theme-button-text-color);
}

.create_new_task_button:hover svg path{
    stroke: var(--tg-theme-button-text-color);
}