.register_container {
    max-width: 350px;
    width: 100%;
    margin: 30px auto;
}

.register_title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: var(--tg-theme-text-color);
}

.user_info__container,
.group_select__container {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 10px 15px;
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.image_container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--tg-theme-accent-text-color);
    box-shadow: 0 0 10px -2px var(--tg-theme-accent-text-color);
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.full_name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--tg-theme-text-color);
}

.user_username {
    font-size: 16px;
    color: var(--tg-theme-accent-text-color);
}

.group_select__container {
    margin-top: 20px;
}

.register_input {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 5px 10px;
    width: 100%;
    /* background-color: var(--tg-theme-bg-color); */
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .2);
    margin-right: 10px;
    transition: all .3s;
    background-color: transparent;
    
}

.register_input:focus {
    border-color: var(--tg-theme-accent-text-color);
}

.register_input::placeholder {
    font-weight: 400;
    color: var(--tg-theme-hint-color)
}

.register_input:first-child {
    text-align: center;
    color: var(--tg-theme-accent-text-color);
    font-weight: 700;
    width: 65%;
}

.register_input.err {
    border-color: var(--tg-theme-destructive-text-color);
    color: var(--tg-theme-destructive-text-color);
}

.send_button {
    /* background-color: var(--tg-theme-button-color); */
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .5);
    box-sizing: border-box;
    flex: 0 0 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--tg-theme-button-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    margin-left: 3px;

    transition: all .3s;
}

.send_button:hover {
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--tg-theme-button-color);
}

.send_button svg {
    transform: translateY(-0.5px) translateX(-0.5px);
}

.send_button svg path {
    stroke: rgba(0, 0, 0, .5);
}

.send_button.err {
    background-color: var(--tg-theme-destructive-text-color);
}